<div>
    <h1>My To Do List</h1>
    <label for="addItemInput">What would you like to do today?</label>
  &nbsp;&nbsp;&nbsp;&nbsp;
    <input
      #newItem
      placeholder="add an item"
      (keyup.enter)="addItem(newItem.value); newItem.value = ''"
      class="lg-text-input"
      id="addItemInput"
    />
    &nbsp;&nbsp;
    <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>
    
    <ul>
      <li *ngFor="let item of items;let i=index">{{item.description}}&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn-primary" (click)="removeItem(i)">Remove</button></li>
    </ul>
  </div>
